<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Group</title>
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
</head>

<body class="bg-gray-300 flex justify-center items-center h-screen">
    <div class="bg-gray-300 container mx-auto">
        <div class="bg-white rounded-xl shadow-xl m-8 p-8 pb-6 max-w-lg">
            <h1 class="text-3xl font-bold text-center mb-8">Create Group</h1>
            <form action="{{url_for('create_group')}}" method="post" class="space-y-4">
                <div class="flex flex-col space-y-2">
                    <label for="group_name" class="text-lg font-semibold">Group Name</label>
                    <input type="text" id="group_name" name="group_name" placeholder="Group Name"
                        class="border-b-2 border-purple-500 bg-transparent focus:outline-none focus:border-purple-700 text-lg py-2">
                </div>
                {% if error %}
                <p class="text-red-500 text-center">{{error}}</p>
                {% endif %}
                <div class="flex justify-center">
                    <button type="submit"
                        class="bg-purple-700 hover:bg-purple-800 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 ease-in-out transform hover:scale-105">+ Create</button>
                </div>
                <div class="flex justify-center">
                    <a href="{{url_for('home')}}"
                        class="text-sm text-purple-700 hover:underline hover:text-purple-800">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
