<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
</head>
<body>
    <div class="container">
        <form action="#" method="POST">
            <header class="flex items-center space-x-20 bg-purple-700 text-white">
                <a href="{{url_for('group_page', gid=gid)}}">
                    <img class="h-[2rem] w-[2rem] m-2" src="{{url_for('static',filename='arrow-left-white.svg')}}" alt="">
                </a>
                <p class="text-xl font-semibold font-mont">Edit Expense</p>
            </header>

            <div class="w-[90%] lg:w-[35%] mx-auto my-6 bg-white p-6 rounded-lg shadow-md flex flex-col">
                <h1 class="text-2xl font-bold mb-4 text-center">Edit Expense</h1>
                {% if error %}
                    <p class="text-[red]">{{error}}</p>
                {% endif %}
                <!-- Description -->
                <div class="mb-4">
                    <input type="text" id="description" name="description" value="{{Desc}}" placeholder="Description"
                        class="w-full p-2 border border-gray-300 rounded-md placeholder-gray-400 focus:bg-gray-100 focus:outline-none focus:border-blue-400"
                        required>
                </div>
                <!-- Amount -->
                <div class="mb-4">
                    <input type="number" id="amount" name="amount" value="{{Amt}}" placeholder="Amount" step="0.01"
                        class="w-full p-2 border border-gray-300 rounded-md placeholder-gray-400 focus:bg-gray-100 focus:outline-none focus:border-blue-400"
                        required>
                </div>

                
                <!-- Paid By dropdown -->
                <div class="relative w-full mr-2">
                    <button type="button" id="paidByBtn"
                        class="w-full text-center p-2 border border-gray-500 rounded-md placeholder-gray-400 focus:bg-gray-100 focus:outline-none focus:border-blue-400">
                        Paid By
                    </button>
                    <div id="paidByDropdown"
                        class="dropdown-menu absolute z-10 bg-white w-full border border-gray-300 rounded-md shadow-md mt-1 hidden">
                        {% for i in range(members|length) %}
                            <div class="inputs p-2 flex hover:bg-gray-200 active:bg-slate-200">
                                <input type="checkbox" name="paid_by[]" id="b{{members[i].uid}}" value="{{members[i].uid}}" {% if members[i].uid == paidBy %} checked {% endif %} class="mr-2">
                                <label for="b{{members[i].uid}}" class="block p-2 w-full">{{members[i].username}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="rounded-lg px-2 mt-1">
                    <p class="text-center font-semibold text-gray-500 font-mont my-2">Split Equally</p>
                    <!-- Paid For dropdown -->
                    <div class="mb-4 relative w-full mr-2">
                        <button type="button" id="paidForBtn"
                            class="w-full text-center p-2 border border-gray-500 rounded-md focus:bg-gray-100 placeholder-gray-400 focus:outline-none focus:border-blue-400">
                            Paid For
                        </button>
                        <div id="paidForDropdown"
                            class="dropdown-menu absolute z-10 bg-white w-full border border-gray-300 rounded-md shadow-md mt-1 hidden">
                            {% for i in range(members|length) %}
                                <div class="inputs p-2 flex hover:bg-gray-200 active:bg-slate-200">
                                    <input type="checkbox" name="paid_for[]" id="f{{members[i].uid}}" value="{{members[i].uid}}" class="mr-2" {% if isEqual and ind_amts[i]!=0 %} checked {% endif %}>
                                    <label for="f{{members[i].uid}}" class="block p-2 w-full">{{members[i].username}}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                

                <p class="text-center mb-4 font-semibold font-mont text-gray-500">Unequal</p>
                
                {% for i in range(members|length) %}
                    <div class="flex justify-between items-center mb-2">
                        <label for="ind{{members[i].uid}}" class="font-medium truncate max-w-[9rem]">{{members[i].username}}</label>
                        <input type="number" id="ind{{members[i].uid}}" name="ind{{members[i].uid}}" placeholder="0.00" step="0.01" {% if not isEqual %}
                            value="{{ind_amts[i]}}"
                        {% endif %}
                            class="w-[50%] p-2 border border-gray-300 rounded-md placeholder-gray-400 focus:bg-gray-100 focus:outline-none focus:border-blue-400">
                    </div>
                {% endfor %}
            </div>
            <div class="flex justify-center">
                <button type="submit" class="flex justify-center items-center px-4 py-2 bg-black hover:bg-gray-600 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75">
                    <span class="mr-2 text-lg">Save Changes</span>
                </button>
            </div>
            
        </form>
        
    </div>

    <script defer src="{{url_for('static',filename='copy.js')}}"></script>
</body>
</html>
