<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exp</title>
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="flex justify-between items-center bg-purple-700 text-white">
            <a href="{{url_for('group_page', gid=gid)}}">
                <img class="h-8 w-8 m-2" src="{{url_for('static',filename='arrow-left.svg')}}" alt="">
            </a>
            <p class="text-xl font-semibold font-mont">Expense</p>
            <a class="text-lg mr-3" href="{{url_for('edit_exp', gid=gid, eid=eid)}}">Edit</a>
        </header>

        <div class="flex flex-col space-y-2 justify-between items-start px-4 py-3 rounded-xl bg-white shadow-lg m-6 mb-12">
            <p class="text-xl font-pop font-bold">{{expense.description}}</p>
            <div class="flex justify-between w-full">
                <p class="text-lg font-pop">Paid by <span class="font-semibold text-purple-800">{{payer.title()}}</span></p>
                <p class="text-lg font-pop">Rs.<span class="font-semibold">{{expense.amount}}</span></p>
            </div>
        </div>

        <h1 class="font-semibold text-lg font-pop ml-6 mb-4">{{n}} 
            {% if n > 1 %}
                Participants
            {% else %}
                Participant
            {% endif %}</h1>

        <div class="mx-6 bg-white shadow rounded-lg flex flex-col">
            {% for i in dic %}
            <div class="flex space-x-3 items-center font-pop h-[3.5rem] relative border-b-2 border-slate-300 overflow-hidden">
                <div class="bg-accent rounded-full h-10 w-10 flex justify-center items-center p-2 flex-shrink-0 ml-2">
                    <img src="{{url_for('static',filename='user.svg')}}" class="h-8 w-8">
                </div>
                <p class="text-lg font-medium font-mont truncate max-w-40">{{i}}</p>
                <p class="text-lg absolute right-4 px-1 border-2 rounded-xl border-slate-300 text-green-900">Rs.{{dic[i]}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>

    </script>
</body>
</html>