<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
    <style>
        @keyframes slideRight {
            0% {
                transform: translateX(0);
                opacity: 0.5;
            }
            100% {
                transform: translateX(100%);
                opacity: 0;
            }
        }
        
        .slide-right {
            animation: slideRight 0.3s ease;
        }
        
    </style>
</head>

<body class="bg-gray-200">
    <div class="container">
        {% include 'header.html' %}
        <div class="flex flex-col">
            <div class="pt-8 h-[10vh] flex flex-col items-center text-gray-500 bg-white p-4">
                <div class="flex items-center justify-start space-x-4 relative right-14">
                    <div class="bg-purple-700 rounded-full h-14 w-14 flex justify-center items-center p-2">
                        <p class="text-2xl font-semibold text-white">{{name[0].title()}}</p>
                    </div>
                    <div>
                        <p class="text-2xl font-semibold text-black">{{name.title()}}</p>
                    </div>
                </div>
                <div class="mt-4 text-center">
                    <p class="text-lg px-3">Manage your friends and settle dues with ease. Click on your friend's card to get started.</p>
                </div>
            </div>
            
            <div class="mx-4">
                <h1 class="mb-4 font-bold text-[1.7rem] text-center text-purple-700">Your Friends</h1>
            </div>
            {% if not friends %}
                <p class="text-textgray mx-4 text-center text-2xl">No Friends yet !</p>
            {% endif %}
            {% for i in range(friends|length) %}
            <a href="{{url_for('friend_settle', friend_id=friends[i].friend_id)}}" class="px-6 py-2 group-card selection:bg-gray-400">
                <div class="rounded-full h-10 w-10 flex justify-center items-center text-white text-lg font-semibold mr-3" id="friendsss">
                    {{friends[i].username[0].upper()}}
                </div>
                <div class="flex flex-col space-y-[0.8]">
                    <h1 class="font-semibold font-pop text-xl">{{friends[i].username}}</h1>
                    <p class="text-gray-500 text-md">Click to settle dues with {{friends[i].username}}</p>
                </div>
            </a>
            {% endfor %}
            <div class="mt-4 flex justify-center space-x-2">
                <a href="{{url_for('add_friend')}}" class="p-2 font-semibold"><button class="bg-purple-700 rounded-3xl p-3 px-5 text-white">Add a Friend</button></a>
            </div>
        </div>

        {% include 'nav.html' %}
        </a>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const colors = ['bg-green-600', 'bg-blue-600', 'bg-red-600', 'bg-yellow-600', 'bg-purple-600', 'bg-pink-600'];

            const profileInitials = document.querySelectorAll('.rounded-full');

            profileInitials.forEach((initial, index) => {
                const colorIndex = index % colors.length;
                initial.classList.add(colors[colorIndex]);
                
            });
        });
    </script>
    <script>
        document.querySelectorAll('a').forEach(a => {
            a.addEventListener('click', () => {
                document.querySelector('*').classList.add('slide-right');
            });
        });
    </script>
</body>

</html>