<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>

<body>
    <div class="container">
        {% include 'header.html' %}
        <div class="mt-6 flex flex-col">
            <div class="mb-3 mx-4 flex justify-between">
                <h1 class="font-mont font-semibold text-[1.7rem]">Your Friends</h1>
            </div>
            {% if not friends %}
                <p class="text-textgray mx-4 text-center text-2xl">No Friends yet !</p>
            {% endif %}
            {% for i in range(friends|length) %}
            <div class="group-card selection:bg-gray-400">
                <img class="h-[4rem] w-[4rem]" src="{{url_for('static',filename='icons8-purchase-order-96.png')}}" alt="">
                <div class="flex flex-col space-y-1">
                    <h1 class="font-semibold font-pop text-xl">{{friends[i].username}}</h1>
                </div>
            </div>
            {% endfor %}
            <div class="btn-container mt-2 flex justify-center space-x-2">
                <a href="{{url_for('add_friend')}}" class="btn-primary p-2 font-semibold">ADD FRIEND</a>
            </div>
        </div>

        {% include 'nav.html' %}
        </a>
    </div>
</body>

</html>