<header class="w-full flex space-x-2 items-center px-4 py-2 bg-accent text-white">
    <img class="h-[3rem] w-[3rem]" src="{{url_for('static',filename='receipt-indian-rupee.svg')}}" alt="">
    <h1 class="font-mont font-extrabold text-3xl tracking-wide">SplitIt</h1>
    <a href="{{url_for('logout')}}" style="margin-left: auto;">
    <button type="button" style="color: black; text-align: center; background-color: whitesmoke; border: 2px solid white; display: inline-block; cursor: pointer; transition: background-color 0.3s ease; border-radius: 5px; font-size: 20px; padding: 10px 20px;" class="btn btn-outline-logout">Logout</button>
    </a>
</header>