<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="{{url_for('static',filename='css/input.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        @keyframes slideRight {
            0% {
                transform: translateX(0);
                opacity: 0.5;
            }
            100% {
                transform: translateX(100%);
                opacity: 0;
            }
        }
        
        .slide-right {
            animation: slideRight 0.3s ease;
        }
        
    </style>
</head>

<body class="text-black bg-gray-200">
    <div class="container mx-auto bg-white rounded-lg">
        {% include 'header.html' %}

        <div class="text-center mt-4 p-4">
            <h1 class="font-semibold text-xl mt-6 mb-2 text-center">Hello, {{username}}</h1>
            <h1 class="text-4xl font-bold mb-4">Welcome to <span class="text-purple-700">SplitIt</span>!</h1>
        </div>
        
        <div class="container mt-6 flex flex-col p-6 bg-gray-200 mb-20">
            <div class="mb-3 flex justify-between">
                <h1 class="font-semibold text-2xl">Your Groups</h1>
            </div>
            {% if not groups %}
                <p class="text-gray-600 text-lg text-center">No groups yet!</p>
            {% endif %}
            {% for i in range(groups|length) %}
            <a href="{{url_for('group_page', gid=groups[i].gid)}}" class="shadow-lg group-card flex items-center space-x-4 bg-white rounded-lg p-4 active:bg-gray-300 mb-4">
                <img class="h-12 w-12" src="{{url_for('static',filename='icons8-purchase-order-96.png')}}" alt="Group Icon">
                <div>
                    <h3 class="font-semibold text-lg">{{groups[i].group_name}}</h3>
                    <p class="text-gray-600">Total Spent: Rs. <span class="font-semibold">{{costs[i]}}</span></p>
                </div>
            </a>
            {% endfor %}
            <div class="flex justify-center space-x-2 mt-4">
                <a href="{{url_for('create_group')}}" class="btn-primary inline-block bg-purple-700 hover:bg-purple-800 text-white font-semibold py-2 px-4 rounded-lg">ADD GROUP</a>
                <a href="{{url_for('join_group')}}" class="btn-secondary inline-block bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-lg">JOIN GROUP</a>
            </div>
        </div>

        <a href="{{url_for('create_group')}}" class="bg-purple-700 rounded-full p-4 flex justify-center items-center fixed bottom-20 right-5">
            <img src="static/plus.svg" alt="Add Group">
        </a>
        {% include 'nav.html' %}
        <script>
            document.querySelectorAll('a').forEach(a => {
                a.addEventListener('click', () => {
                    document.querySelector('*').classList.add('slide-right');
                });
            });
        </script>
        <script>
            navButtons = document.querySelectorAll('.nav-btn');
            homebtn=document.getElementById("home");
            accbtn=document.getElementById("acc");
            console.log("hi");
            navButtons.forEach(btn => {
                btn.classList.remove('active');
            });
            homebtn.classList.add('active');
        </script>
        
    </div>
</body>

</html>
