<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
    <style>
        @keyframes slideRight {
            0% {
                transform: translateX(0);
                opacity: 0.5;
            }
            100% {
                transform: translateX(100%);
                opacity: 0;
            }
        }
        
        .slide-right {
            animation: slideRight 0.3s ease;
        }
        
    </style>
    
</head>

<body class="bg-gray-100 font-['Poppins',sans-serif]">
    <div class="mt-10 py-6 text-black text-center">
        <h1 class="text-3xl font-bold">Welcome to <span class="text-purple-600">SplitIt<span>!</h1>
        <p class="text-gray-400 font-semibold text-lg mt-4">Enter to witness a simplified group spending experience</p>
    </div>

    <div class="container flex justify-center items-center">
        <div class="bg-white mt-10 rounded-xl shadow-xl p-6 max-w-md w-full mx-4">
            <img class="w-12 h-12 mx-auto mb-4" src="{{url_for('static',filename='receipt-indian-rupee-black.svg')}}"
                alt="Receipt Icon">

            <h1 class="font-bold text-2xl mt-3 mb-5 text-center">Login to SplitIt</h1>
            <form action="{{url_for('login')}}" method="post">
                <label class="mt-4 block text-gray-700 text-md font-bold mb-1" for="username">Username</label>
                <input
                    class="block w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg mb-4 focus:outline-none focus:bg-white focus:border-black"
                    type="text" id="username" name="username" placeholder="Username">

                <label class="block text-gray-700 text-md font-bold mb-1" for="password">Password</label>
                <input
                    class="block w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg mb-4 focus:outline-none focus:bg-white focus:border-black"
                    type="password" name="password" id="password" placeholder="Enter password">

                {% if error %}
                <p class="text-red-500">{{error}}</p>
                {% endif %}

                <button type="submit"
                    class="block w-full bg-purple-700 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">
                    Login
                </button>

                <p class="text-center mt-4 text-gray-700">Not registered yet? <a class="underline text-purple-500"
                        href="{{url_for('register')}}">Register</a></p>
            </form>
        </div>
    </div>
    <script>
        document.querySelectorAll('a').forEach(a => {
            a.addEventListener('click', () => {
                document.querySelector('*').classList.add('slide-right');
            });
        });
    </script>
</body>

</html>
