<nav class="fixed bottom-0 flex w-full justify-between items-center pb-2 pt-3 z-100 bg-gray-100">
    <a href="{{url_for('home')}}" class="nav-btn active">
        <img class="h-[2.5rem] w-[2.5rem]" src="{{url_for('static',filename='home.svg')}}" alt="">
        <p>Home</p>
    </a>
    <a href="{{url_for('friends')}}" class="nav-btn">
        <img class="h-[2.5rem] w-[2.5rem]" src="{{url_for('static',filename='friends.png')}}" alt="">
        <p>Friends</p>
    </a>
    <a href="" class="nav-btn">
        <img class="h-[2.5rem] w-[2.5rem]" src="{{url_for('static',filename='bar-chart-4.svg')}}" alt="">
        <p>Dashboard</p>
    </a>
    <a href="" class="nav-btn">
        <img class="h-[2.5rem] w-[2.5rem]" src="{{url_for('static',filename='circle-user-round.svg')}}" alt="">
        <p>Account</p>
    </a>
</nav>