<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settle</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200">
    <div class="mx-auto">
        <header class="bg-purple-700 text-white py-2 px-2">
            <div class="flex space-x-20 items-center">
                <a href="{{url_for('group_page', gid=gid)}}">
                    <img class="h-8 w-8 mr-3" src="{{url_for('static',filename='arrow-left-white.svg')}}" alt="Back">
                </a>
                <h1 class="text-xl font-semibold font-mont">Settle Debts</h1>
            </div>
        </header>

        <div class="rounded-b-2xl shadow-lg p-6 pt-8 bg-white">
            <div class="flex flex-col justify-center items-center space-y-3">
                <div class="bg-purple-700 rounded-full h-16 w-16 flex justify-center items-center text-white text-3xl font-semibold">
                    {{hero.username[0].title()}}
                </div>
                <h2 class="text-xl font-semibold">{{hero.username.title()}}</h2>
                <p class="text-lg">Balance: INR.<span class="font-semibold">{{balance}}</span></p>
            </div>
        </div>

        <div class="my-6 mx-2 bg-white flex flex-col rounded-xl shadow px-2 pt-3">
            {% if participants|length == 0 %}
            <p class="text-[red] text-center text-lg mt-[-0.8rem]">No settlements pending !</p>
            {% endif %}
            {% for i in range(participants|length) %}
            <div class="flex items-center mb-4 space-x-1 relative">
                <div class="bg-accent rounded-full h-10 w-10 flex justify-center items-center p-2 flex-shrink-0">
                    <p class="text-xl font-medium text-white">{{participants[i]['username'][0].title()}}</p>
                </div>

                {% if amounts[i] > 0 %}
                <p class="text-lg m-1 text-nowrap">
                    <p class="font-semibold truncate text-lg max-w-[5.8rem]">{{participants[i]['username'].title()}}</p>
                    <span class="px-1 flex justify-center items-center text-lg border-2 rounded-xl border-slate-300 text-green-900"> owes </span>
                    <span
                        class="font-semibold text-lg">Rs.{{amounts[i] | round(2)}}
                    </span>        
                </p>

                {% if hero.uid == session['uid'] %}
                    <a href="" class="flex justify-center items-center text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 absolute right-0 h-9 w-12"><img src="{{url_for('static',filename='bell-ring.svg')}}" alt=""></a>
                {% endif %}
                {% else %}
                <p class="text-lg m-1"><p class="font-semibold text-lg truncate max-w-20">{{participants[i]['username'].title()}}</p> <span class="text-lg">is</span> <span class="px-1 flex justify-center items-center border-2 rounded-xl border-slate-300 text-lg text-[#DD2D4A]">owed</span> <span
                        class="font-semibold text-lg">Rs.{{0-amounts[i] | round(2)}}</span></p>
                {% if hero.uid == session['uid'] %}
                <a href="{{url_for('checkout_session',amount=0-amounts[i],gid=gid,uid=session['uid'],fid=participants[i]['uid'])}}" class="flex justify-center items-center text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 absolute right-0 h-9 w-12">Pay</a>
                {% endif %}
                {% endif %}
            </div>
            {% endfor %}

            {% for i in pending %}
            <div class="flex items-center mb-4 space-x-2 relative">
                <div class="bg-gray-600 rounded-full h-10 w-10 flex justify-center items-center p-2 flex-shrink-0">
                    <p class="text-xl font-medium text-white">{{i['username'][0].title()}}</p>
                </div>
                <p class="font-medium truncate text-lg line-through text-gray-500">{{i['username'].title()}} is settled</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <p>{{matrix}}</p>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const colors = ['bg-red-600', 'bg-blue-600', 'bg-red-600', 'bg-yellow-600', 'bg-purple-600', 'bg-pink-600'];
            
            const profileInitials = document.querySelectorAll('.rounded-full');
    
            profileInitials.forEach((initial, index) => {
                const colorIndex = index % colors.length; 
                initial.classList.add(colors[colorIndex]);
            });
        });
    </script>
</body>

</html>
