<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settle</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
</head>

<body>
    <div class="container">
        <header class="bg-accent text-white">
            <div class="w-[59%] lg:w-[53%] flex justify-between items-center">
                <a href="{{url_for('group_page', gid=gid)}}">
                    <img class="h-8 w-8 m-2" src="{{url_for('static',filename='arrow-left.svg')}}" alt="">
                </a>
                <p class="text-xl font-semibold font-mont">Settle</p>
            </div>
        </header>

        <div class="h-[25vh] flex flex-col justify-center space-y-3 items-center bg-white rounded-b-3xl shadow-lg">
            <div class="bg-accent rounded-full h-14 w-14 flex justify-center items-center p-2">
                <p class="text-2xl font-semibold text-white">{{hero.username[0].title()}}</p>
            </div>
            <p class="text-2xl font-medium">{{hero.username.title()}}</p>
            <p class="text-xl">Balance: Rs.{{balance}}</p>
        </div>

        <div class="my-6 mx-2 bg-white flex flex-col rounded-xl shadow px-2 pt-3">
            {% if participants|length == 0 %}
            <p class="text-[red] text-center text-lg mt-[-0.8rem]">No settlements pending !</p>
            {% endif %}
            {% for i in range(participants|length) %}
            <div class="flex items-center mb-4 space-x-1 relative">
                <div class="bg-accent rounded-full h-10 w-10 flex justify-center items-center p-2 flex-shrink-0">
                    <p class="text-xl font-medium text-white">{{participants[i]['username'][0].title()}}</p>
                </div>

                {% if amounts[i] > 0 %}
                <p class="text-lg m-1 text-nowrap">
                    <p class="font-semibold truncate text-lg max-w-[5.8rem]">{{participants[i]['username'].title()}}</p>
                    <span class="px-1 text-lg border-2 rounded-xl border-slate-300 text-green-900"> owes </span>
                    <span
                        class="font-semibold text-lg">Rs.{{amounts[i] | round(2)}}
                    </span>        
                </p>

                {% if hero.uid == session['uid'] %}
                    <a href="" class="flex justify-center items-center text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 absolute right-0 h-9 w-12"><img src="{{url_for('static',filename='bell-ring.svg')}}" alt=""></a>
                {% endif %}
                {% else %}
                <p class="text-lg m-1"><p class="font-semibold text-lg truncate max-w-20">{{participants[i]['username'].title()}}</p> <span class="text-lg">is</span> <span class="px-1 border-2 rounded-xl border-slate-300 text-lg text-[#DD2D4A]">owed</span> <span
                        class="font-semibold text-lg">Rs.{{0-amounts[i] | round(2)}}</span></p>
                {% if hero.uid == session['uid'] %}
                <a href="{{url_for('checkout_session',amount=0-amounts[i],gid=gid,uid=session['uid'],fid=participants[i]['uid'])}}" class="flex justify-center items-center text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 absolute right-0 h-9 w-12">Pay</a>
                {% endif %}
                {% endif %}
            </div>
            {% endfor %}

            {% for i in pending %}
            <div class="flex items-center mb-4 space-x-2 relative">
                <div class="bg-gray-600 rounded-full h-10 w-10 flex justify-center items-center p-2 flex-shrink-0">
                    <p class="text-xl font-medium text-white">{{i['username'][0].title()}}</p>
                </div>
                <p class="font-medium truncate text-lg line-through text-gray-500">{{i['username'].title()}} is settled</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>